@import url('https://fonts.googleapis.com/css?family=Orbitron');

html,
body {
  margin: 0px;
  padding: 0px;
}

.page {
  background-color: #CBFFC2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.page__calculator {
  background-color: black;
  border: 2px solid grey;
  font-size: 15px;
  font-family: 'Orbitron', sans-serif;
  width: 400px;
  display: flex;
  flex-direction: column;

}

.display__output {
  height: 30px;
  color: yellow;
  font-size: 150%;

}

.display__input {
  height: 30px;
  float: right;
  color: green;
  font-size: 150%;
}

.calculator__buttons {

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 2px;
  grid-template-areas:
    "reset reset divide multiply"
    ". . . add"
    ". . . subtract"
    ". . . equals"
    "zero zero . equals";


}

.buttons__reset {
  grid-area: reset;
  background-color: red;
}

.buttons__num {
  background-color: grey;
}

.buttons__operators {
  background-color: orange;
}

#divide {
  grid-area: divide;
}

#multiply {
  grid-area: multiply;
}

#add {
  grid-area: add;
}

#subtract {
  grid-area: subtract;
}

#equals {
  grid-area: equals;
  background-color: green;
}

#zero {
  grid-area: zero;
}

.button {
  border: none;
  min-height: 35px;
  font-style: bold;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  font-size: 150%;
  cursor: pointer;
}

.button:hover {
  background-color: white !important;
  box-shadow: inset 2px 2px 10px 1px black;
  transform: scale(1.15);
}